.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* mycss */

::-webkit-scrollbar{
  display: none;
}

.nav{
  display: flex;
  background-color:rgba(97,218,251,0.99);
  border:2px solid rgba(120, 120, 120, 0.5) ;
  position: fixed;
  top:0px;
  right:0px;
  left:0px;
  padding:10px;
  border-radius:15px;
  /* margin-top: 5px; */
  z-index: 1;
  max-width:100%;
  overflow-x:auto;
}

.left-nav{
  display: flex;
  /* border:2px solid black; */
  margin-left: 40px;
}

.profile_image{
  height:50px;
  width: 50px;
  object-fit:cover;
  /* border:2px solid black; */
  border-radius: 100%;
  margin-top: 8px;
  margin-right: 10px;
}

#profile_name{
  /* border:2px solid black; */
  color:rgb(55, 55, 55);
  font-size:larger;
  cursor:default;
}

.right-nav{
  display: flex;
  list-style: none;
  /* border:2px solid black; */
  margin-left:auto;
  float:right;
  margin-right: 100px;
}

li{
  margin-right: 50px;
  display: flex;
  margin-top:0px;
  /* border:2px solid black; */
  padding: 10px;
  
}

a{
  text-decoration: none;
  color:rgb(55, 55, 55);
  font-size: large;
}

a:hover{
  color:rgb(255, 255, 255);
}

.hamburger{
  position: absolute;
  right:40px;
  top:20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger span{
  height: 3px;
  width: 30px;
  background-color: white;
  transition:all 0.3s ease;
  border-radius: 10px;
}

.hamburger.active span:nth-child(1){
  transform: rotate(45deg) translate(5px 5px);
}
.hamburger.active span:nth-child(2){
  opacity: 0;
}
.hamburger.active span:nth-child(3){
  transform: rotate(-45deg) translate(7px -7px);
}

#Home_compo{
  padding-top: 250px;
  height: 750px;
  background-image:url('../public/images/concrete_seamless.webp');
}

.title{
  text-align: center;
  color:rgb(55, 55, 55);
  max-width:none;
  /* font-size: x-large; */
}

.subtext{
  color:rgb(100, 100, 100);
  text-align: center;
}

#projectbutton{
  background-color: #17cdff;
  border-collapse: collapse;
  text-decoration: none;
  border-color: #61dafb;
  border-radius: 7px;
  padding:14px 65px;
  color:white;
  font-weight:700;
  border-style: none;
  box-shadow: inset;
  font-size: 18px;
}

#projectbutton:active{
  background-color: #7be1fd ;
  }

.aboutdiv{
  position:absolute;
  top:750px;
  left:0px;
  right:0px;
  background: rgb(246, 246, 246);
}

#about_comp{
  margin-top: 150px;
  height: 700px;
  width: 100%;
  /* border:2px solid black; */
}

#aboutme{
  margin-top: 50px;
}

#aboutme::after{
  /* background: #61dafb;
  width: 30px;
  height: 5px; */
  content: '';
    position: absolute;
    top:210px;
    height: 5px;
    width: 35px;
    background: #1bceff;
    left: 766px;
    transform: translateX(-50%);
    border-radius: 5px
}

#aboutcontent{
  display: flex;
  margin:35px 130px;
}

#aboutcontext{
  display: inline;
  float: left;
  border:2px solid black;
}

h2{
  text-align: left;
}

p{
  text-align: left;
  margin-left: 100px;
  font-size: large;
  color:rgb(100, 100, 100);
}

#aboutskills{
  display: inline;
  float:right;
  margin-left: 75px;
  }

#aboutskills.div{
  background-color: #1bceff;
}

#row1{
  display:flex;
  justify-content: center;
}

#row2{
  display:flex;
  justify-content: center;
}

.skills{
  margin-right: 20px;
  margin-bottom: 20PX;
  padding:20px;
  background-color: rgb(225, 225, 225);
  border-radius: 10px;
}

.Project_title{
  padding-top: 30px;
  text-align: center;
  color:rgb(55, 55, 55);
  max-width:none;
}

.Project_title::after{
content: '';
    position: absolute;
    top:100px;
    height: 5px;
    width: 35px;
    background: #1bceff;
    left: 766px;
    transform: translateX(-50%);
    border-radius: 5px
}


.projectdiv{
  /* border:10px solid black; */
  position:absolute;
  top:1505px;
  left:0px;
  right:0px;  
}

#projects_comp{
  margin-top: 95px;
  /* border:2px solid black; */
  height: 1400px;
  background-image:url('../public/images/concrete_seamless.webp');
}


.contactdiv{
  position:absolute;
  top:2906px;
  left:0px;
  right:0px;
}

.Contact_title{
  padding-top: 50px;
  text-align: center;
  color:rgb(55, 55, 55);
  max-width:none;
}

.Contact_title::after{
  content: '';
    position: absolute;
    top:100px;
    height: 5px;
    width: 35px;
    background: #1bceff;
    left: 766px;
    transform: translateX(-50%);
    border-radius: 5px
}

.contact_desc{
  text-align: center;
  margin: 0px 350px;
  font-size: large;
  color:rgb(100, 100, 100);
}

#contact_comp{
  margin-top: 95px;
  height: 1000px;
  /* border:2px solid black; */
  background-image:url('../public/images/stripes-light.webp');
}
#contacth1{
  margin-top: 250px;
}

#contact_form{
  margin-top: 50px;
  border-radius:  10px;
  margin-left: 360px;
  background-color: white;
  height: 730px;
  width:790px;
  /* border:1px solid black; */
  padding-top: 10px;
}

#form{
  margin: 40px;
  text-align: left;
}

#name_label{
  font-weight:bold;
  color:rgb(100, 100, 100);
}

#name{
  margin-top:10px;
  margin-bottom: 35px;
  width: 700px;
  height: 60px;
  font-size:medium;
  padding-left: 15px;
  border-radius: 5px;
  border:0px;
  background-color:rgba(240,240,240,255) ;
}

#message_label{
  font-weight:bold;
  color:rgb(100, 100, 100);
}



#message{
  margin-bottom: 35px;
  margin-top:10px;
  width: 700px;
  height: 200px;
  font-size:larger;
  padding-top: 10px;
  padding-left: 15px;
  border-radius: 5px;
  border:0px;
  background-color:rgba(240,240,240,255) ;
}

#submit_button{
  float: right;
}

#submit{
  background-color: #17cdff;
  border-collapse: collapse;
  text-decoration: none;
  border-color: #61dafb;
  border-radius: 7px;
  padding:14px 65px;
  color:white;
  font-weight:700;
  border-style: none;
  box-shadow: inset;
  font-size: 18px;
}

.project{
  margin-top: 40px;
   display: flex;
}
.projectname{
  margin-top: 100px;
  font-size: x-large;
  font-weight: 600;
}
.projectimage{
  height: 350px;
  width: 600px;
  margin-left: 100px;
  border: 15px solid rgba(97,218,251,0.99);
  border-radius: 0px 15px ;
}
.projectdescription{
  margin-left: 200px;
  margin-top: 100px;
  text-align:initial;
}
.prodesc_context{
  text-align: left;
  left: 0;
  margin-right: 200px;
  margin-left: 100px;
}













@media (max-width:412px){
  #profile_name{
    font-size: small;
  }
   .left-nav{
    margin-left: 10px;
   }
   .title{
    font-size: large;
   }
   .subtext{
    font-size: small;
   }
   #projectbutton{
    font-size: smaller;
    padding:8px 25px;
    border-radius: 5px;
   }
   .right-nav li a{ 
    font-size:small;
   }
   .right-nav li{
    margin-right: 0px;
   }
   .right-nav{
    margin-right: 0px;
   }
   .profile_image{
    height: 35px;
    width: 35px;
    object-fit: conver;
   }
   #aboutcontent{
    margin:5px 25px;
    display: block;
    align-items: center;
   }
   p{font-size: small;}
   h2{
    font-size: medium;
   }
   .skills{
    font-size: small;
    margin-right: 7px;
    margin-bottom: 10PX;
    padding:10px;
    border-radius: 5px;

   }
   #aboutskills{
    margin-left: 10px;
    float:none;

   }
   #myskills{
    font-size: medium;
   }
   #aboutme::after{
    left:208px;
    top:190px;
    height: 3px;
    width: 15px;
   }
   #Home_compo{
    height: 450px;
   }

   .aboutdiv{
    top:700px;
   }
   .projectdiv{
    top:1455px;
   }
   .contactdiv{
    top:2458px;
   }

   /* for toggle menu in mobile view */
   .hamburger {
    display: flex;
   }

   .right-nav{
    display: none;
    width: 100%;
    background-color: #333;
    flex-direction: column;
    align-items: end;
    padding: 20px 0;
   }

   .right-nav.active{
    position:sticky;
    display: flex;
    margin-top: 50px;

   }
   .right-nav li{
    margin: 10px 0;
    margin-right: 5px;
   }
   .right-nav li a{
    color:white;
   }
   .left-nav.active{
    display: none;
    
   };
   .nav{
    border-radius: 0px;
   }
  
.project{
   display: block;
}
.projectname{
  margin-top: 50px;
  font-size: large;
  font-weight:700;
}
.projectimage{
  height: 150px;
  width: 280px;
  margin-left: 0px;
  border: 12px solid rgb(162, 162, 162);
  border-radius: 5px;
}
.projectdescription{
  margin:0px;
  margin-top: 10px;
  text-align: center;
  
}
.prodesc_context{
  text-align: center;
  margin: 15px;
}
.project_compo{
  height: 450px;
}
p{
 margin-left: 50px;
 margin-right: 30px;
}

.contact_desc{
  text-align: center;
  font-size: medium;
  margin: 0px;
}
  
#contact_form{
  border-radius:  5px;
  margin-left: 31px;
  height: 400px;
  width:350px;
  padding: 4px;
}

#form{
  margin: 40px;
  text-align: left;
}

#name_label{
  font-weight:bold;
  font-size: small;
  color:rgb(100, 100, 100);
}

#name{
  margin-top:0px;
  margin-bottom: 5px;
  width: 250px;
  height: 20px;
  font-size:x-small;
  padding-left: 15px;
  border-radius: 5px;
  border:0px;
  background-color:rgba(240,240,240,255) ;
}

#message_label{
  margin-top: 0px;
  font-weight:bold;
  font-size: small;
  color:rgb(100, 100, 100);
}



#message{
  margin-top:0px;
  margin-bottom:10px;
  width: 250px;
  height: 100px;
  font-size:smaller;
  padding-top: 10px;
  padding-left: 15px;
  border-radius: 5px;
  border:0px;
  background-color:rgba(240,240,240,255) ;
}

#submit_button{
  float: right;
}

#submit{
  background-color: #17cdff;
  border-collapse: collapse;
  text-decoration: none;
  border-color: #61dafb;
  border-radius: 7px;
  padding:5px 30px;
  color:white;
  font-weight:700;
  border-style: none;
  box-shadow: inset;
  font-size: 18px;
}



}

